/*-----------------РОДИТЕЛЬСКИЙ КОНТЕЙНЕР-----------------------*/
#mainContent_task_2 {    
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрируем контент по горизонтали */
    align-items: center; /* Центрируем контент по вертикали */
    min-height: 80vh; /* 80% от высоты области просмотра */

}

/*-----------------ОСНОВНАЯ СЦЕНА-----------------------*/
.scene {
    position: relative;
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    background:linear-gradient(to bottom right, #FFFFF0, #00BFFF);
    /*display: block;*/ /* Убеждаемся, что элемент ведёт себя как блок */
    /*margin-left: auto;*/ /* Автоматическое центрирование по горизонтали */
    /*margin-right: auto;*/ /* Автоматическое центрирование по горизонтали */
}

/* -----------------СОЛНЦЕ ------------------------------*/
.scene .sun {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    background-color: #ffeb3b; /* Ярко-желтый */
    border-radius: 50%;
    z-index: 10;
}

/* ------------------Мост — контейнер арок---------------*/
.bridge {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

/* --------------------ОДНА арка---------------------------*/
.arch {
    position: absolute;
    bottom: 50px;               /* нижний край арки точно на нижней границе сцены */
    width: 66px;              /* ширина пролёта */
    height: 100px;            /* высота арки — можно менять */
    border: 7px solid #777;  /* серый цвет, толщина 10px */
    border-radius: 50% 50% 0 0; /* верхняя полусфера */
    border-bottom: none;       /* убираем нижнюю линию */
    box-sizing: border-box;
}

/* ---------------------Расположение трёх арок------------- */
.a1 { left: 0; }
.a2 { left: 66px; }   /* немного сдвинуто, чтобы арки шли подряд */
.a3 { left: 132px; }

/* ---------------------ЛОДКА -------------------------------- */
.boat {
    position: absolute;
    bottom: 60px;           /* расстояние от низа сцены — подними/опусти по вкусу */
    left: 60px;             /* горизонтальная позиция */
    width: 85px;            /* ширина лодки */
    height: 24px;           /* высота лодки */
    background-color: #8B4513; /* коричневый цвет */
    z-index: 15;            /* поверх моста и арок */
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    
}

/* -----------------Мачта — вертикальный столб ------------------*/
.mast {
    position: absolute;
    bottom: 60px;                 /* привязка к низу лодки */
    left: 90px;                   /* расположение на лодке */
    width: 4px;                    /* толщина мачты */
    height: 80px;                  /* высота мачты */
    background-color: #8B4513;     /* коричневый цвет */
    z-index: 20;                    /* выше лодки */
}

/* -----------------Флаг на мачте ----------------------------- */
.flag {
    position: absolute;
    bottom: 130px;          /* начало флага у верхушки мачты: bottom = лодка bottom + высота мачты - высота флага */
    left: 90px;             /* привязка к мачте: совпадает с left мачты */
    width: 20px;            /* длина флага */
    height: 12px;           /* высота флага */
    background-color: red;  /* цвет флага */
    clip-path: polygon(0% 0%, 60% 50%, 0% 100%); /* треугольник направленный вправо */
    z-index: 25;            /* выше мачты и лодки */
}

/* -----------------Парус -------------------------------------- */
.sail {
    position: absolute;
    bottom: 84px;            /* привязка к нижнему краю лодки */
    left: 94px;               /* правый край мачты (мачта left 90px + ширина 4px) */
    width: 60px;              /* длина паруса */
    height: 50px;             /* высота паруса */
    background-color: 	#00FFFF;  /* цвет паруса */
    clip-path: polygon(0% 0%, 60% 50%, 0% 100%); /* треугольник направленный вправо */
    z-index: 18;              /* под флагом, но над лодкой */
}

/* -----------------Волны ------------------ */
.wave {
    position: absolute;
    bottom: 0;                  /* привязка к низу сцены */
    width: 85px;                 /* диаметр круга */
    height: 85px;
    border-radius: 500%;          /* круг */
    background: linear-gradient(to bottom right, #FFFFF0, #00BFFF); /* градиент: светло-синий → темно-синий */
    z-index: 20;                  /* ниже лодки и мачты */
}

/* ---------------Позиции волн слева направо с перекрытием ----------------------*/
.w1 { bottom: -15px; left: -8px; }
.w2 { bottom: -5px; left: 45px; }
.w3 { bottom: -20px; left: 97px; }
.w4 { bottom: -15px; left: 156px; }